# Okta Configuration
VITE_OKTA_ISSUER=https://amazon-q-poc.oktapreview.com/oauth2/ausrsjy67549AK36Z1d7
VITE_OKTA_DOMAIN=https://amazon-q-poc.oktapreview.com
VITE_OKTA_CLIENT_ID=0oarshf24kubl6YYF1d7
VITE_OKTA_REDIRECT_URI=http://localhost:5173/login/callback
VITE_OKTA_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
VITE_OKTA_SCOPES=openid profile email
